@import '../../styles/mixins.scss';
@import '../../styles/variables';

.header__container__info {
    display: flex;
    flex-direction: column;
    color: #fff;

    h1 {
        font-size: $txt-medium-size;
        margin: 0;
        color: #fff;
        font-weight: 400;
        line-height: 1.1em;

        @include bp('sm') {
            font-size: $txt-normal-size;
        }
    }

    h2 {
        font-size: $txt-small-size;
        margin: 0;
        color: #888;
        font-weight: 400;
    }


    @include bp('sm') {
        flex-direction: initial;
        align-items: center;

        span {
            margin-left: 24px;
        }
    }
}