<header class="header scrolled"
    [ngClass]="{'scrolled': windowScrolled}">
    <section class="header__container container">
        <div class="header__container__info">
            <a href="/">
                <img src="../../assets/images/logo.png" height="40" width="230">
            </a>
            <span>
                <h1>{{'Header.Title' | translate}}</h1>
                <h2>{{'Header.SubTitle' | translate}}</h2>
            </span>
        </div>
        <app-language-change></app-language-change>
    </section>
</header>