@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.header {
    color: $txt-color;
    background: url('../../../assets/images/header.png'), #1d1d1d;
  
    &.scrolled {
      position: fixed;
      width: 100%;
      z-index: 1;
      top: 0;
      transition: right 0.3s ease 0s;
      box-shadow: grey 0px 0px 5px;
    }
  
    &__container {
      align-items: center;
      justify-content: space-between;
      display: flex;
      padding: 32px 0;
      margin: 0 8px;
  
        @include bp('xs') {
            margin: 0 auto;
            width: 100%;
        }

        &__info {
            display: flex;
            flex-direction: column;
            color: #fff;
        
            h1 {
                font-size: $txt-medium-size;
                margin: 0;
                color: #fff;
                font-weight: 400;
                line-height: 1.1em;
        
                @include bp('sm') {
                    font-size: $txt-normal-size;
                }
            }
        
            h2 {
                font-size: $txt-small-size;
                margin: 0;
                color: #888;
                font-weight: 400;
            }
        
        
            @include bp('sm') {
                flex-direction: initial;
                align-items: center;
        
                span {
                    margin-left: 24px;
                }
            }
        }

    }
}
