<div class="container">
    <div class="products__options__container">
        <app-page-limit
            [limitOption]="pageLimit"
            (limitChangeEvent)="changeLimit($event)">
        </app-page-limit>
        <app-products-view-changer 
            [activeView]="activeView"
            [viewOptions]="viewOptions"
            (productsViewChangeEvent)="changeProductsView($event)">
        </app-products-view-changer>
    </div>

    <app-pagination 
        [pagination]="pagination"
        (pageChangeEvent)="changePage($event)">
    </app-pagination>

    <ng-container *ngIf="activeView === 'table'; else boxView">
        <app-products-table [products]="pagedItems"></app-products-table>
    </ng-container>
    <ng-template #boxView>
        <app-products-boxes [products]="pagedItems"></app-products-boxes>
    </ng-template>
</div>
