<div class="container">
    <app-products-view-changer 
        [activeView]="activeView"
        [viewOptions]="viewOptions"
        (productsViewChangeEvent)="changeProductsView($event)">
    </app-products-view-changer>

    <ng-container *ngIf="activeView[0]; else boxView">
        <app-products-table [products]="(products$ | async)"></app-products-table>
    </ng-container>
    <ng-template #boxView>
        <app-products-boxes [products]="(products$ | async)"></app-products-boxes>
    </ng-template>
</div>
