/* @text */
$txt-color: #444;
$txt-bigger-size: 18px;
$txt-normal-size: 16px;
$txt-medium-size: 15px;
$txt-small-size: 14px;
/* end of @text */

/* main styles */
$font-family: 'Open Sans', 'Roboto', 'Segoe UI', Helvetica, Arial, sans-serif;
$font-thicker-weight: 300;
$font-normal-weight: 400;
$font-slimmer-weight: 300;

/* end of main styles */
