/* @text */
$txt-color: #444;
$txt-color-second: #333;
$txt-color-third: #666;
$txt-color-orange: #f47521;
$txt-bigger-size: 18px;
$txt-normal-size: 16px;
$txt-medium-size: 15px;
$txt-small-size: 14px;
$txt-xsmall-size: 13px;
/* end of @text */

/* main styles */
$font-family: 'Open Sans', 'Roboto', 'Segoe UI', Helvetica, Arial, sans-serif;
$font-family-secondary: 'Noto Sans', 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
$font-thicker-weight: 700;
$font-normal-weight: 400;
$font-slimmer-weight: 300;

/* end of main styles */
