<ul *ngIf="pagination?.pages?.length"
    class="pagination">
    <li [ngClass]="{'disabled': pagination.currentPage === 1}">
        <a (click)="setPage(pagination.currentPage - 1)">
            <svg class="arrow-left"
                width="8"
                height="8"
                viewBox="0 0 24 24">
                <use xlink:href="./../../../../assets/images/svg-sprite.svg#arrow"></use>
            </svg>
        </a>
    </li>
    <li *ngFor="let page of pagination.pages"
        [ngClass]="{'active': pagination.currentPage === page}">
        <a (click)="setPage(page)">
            {{page}}
        </a>
    </li>
    <li [ngClass]="{'disabled': pagination.currentPage === pagination.totalPages}">
        <a (click)="setPage(pagination.currentPage + 1)">
            <svg  class="arrow-right"
                width="8"
                height="8"
                viewBox="0 0 24 24">
                <use xlink:href="./../../../../assets/images/svg-sprite.svg#arrow"></use>
            </svg>
        </a>
    </li>
</ul>