<div *ngIf="(languageCodes$ | async) as languageCodes"
    class="lang__container">
    <div *ngFor="let languageCode of languageCodes"
        class="lang__container__button"
        [ngClass]="{'active': currentLanguage === languageCode.code}">
        <input type="radio"
            id="changeLanguage{{languageCode.code}}"
            value="{{languageCode.code}}"
            name="currentLanguage"
            [(ngModel)]="currentLanguage"
            (click)="changeLanguage(languageCode.code)">
        <label for="changeLanguage{{languageCode.code}}">
            {{ languageCode.code }}
        </label>
    </div>
</div>